<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #15bf67f5; height: 80px;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_recipes_index') }}" style="color: white; font-weight: bold;">Cuisinista</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_recipes_index') }}" style="color: white; font-weight: bold;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_recipes_new') }}" style="color: white; font-weight: bold;">Write a recipe</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-weight: bold;">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script>
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
    });
</script>