{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card {
            margin-top: 20px;
        }

        .card-body {
            padding: 20px;
        }

        .form-control {
            margin-bottom: 10px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}
<br/>
    <div class="container">
        <h1 class="text-center mt-4">Edit Comment</h1>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'my-4'}}) }}
                        <div class="form-group">
                            {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
                        </div>
                         
                        <div class="btn-container">
                            <button type="submit" class="btn btn-primary">Save Changes</button>&nbsp;&nbsp;
<a href="{{ path('app_recipes_show', {'id': comment.recipeId.getId()}) }}" class="btn btn-secondary">Cancel</a>
                        </div>
                        
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    {% include 'partials/footer.html.twig' %}

{% endblock %}